body {
    background-color: #fce4ec; /* Light pink background */
}

.container {
    background-color: #fce4ec; /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
}

.valentine-bg {
    /* Valentine-themed background image */
    /* background-image: url('https://media.giphy.com/media/3o7TKoWXm3okO1kgHC/giphy.gif'); */
    background-size: cover;
    background-position: center;
}


.heart-animation img {
    animation: floatHeart 2s infinite;
}

@keyframes floatHeart {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.title-animation {
    animation: pulseTitle 1s infinite;
    color: #ff66a3; /* Pinkish red */
    font-size: 4.5em;
}

@keyframes pulseTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#gif {
    width: 300px;
    height: auto;
    transition: transform 0.5s ease;
}

#gif:hover {
    cursor: pointer;
}

.celebration {
    animation: heartbeats 0.6s infinite;
}

@keyframes heartbeats {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Button styles */
.btn-primary {
    background-color: #ff4081; /* Light magenta */
    border-color: #fce4ec;
    color: #ffffff; /* White */
    transition: transform 0.3s ease;
}

.btn-primary:hover, .btn-danger:hover {
    transform: scale(1.1);
}

/* CSS for full-screen overlay */
.celebration-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 9999; /* Ensure the overlay appears on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
}
